.btn{
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 15px;
    background-color: var(--backgroundSecondary);
    color: var(--textColorSecondary);
    padding: 0.5rem 2rem;
}

.btn:hover{
    background-color: var(--backgroundSecondaryLight);
}
.btn--secondary{
    background-color: var(--backgroundTernary);
    color: var(--textColor);
}
.btn--secondary:hover{
    background-color: var(--backgroundTernaryLight);

}
a.primary{
    text-decoration: none;
    color: var(--textColor);
    opacity: 0.7;
}
a:hover{
    text-decoration: underline;
}