.container{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.items-container{
    display: flex;
    justify-content: flex-start;
}
.items-header{
    border-bottom: 1px solid var(--backgroundTernary);
    margin-bottom: 1rem;
    font-size: 1.8rem;
    padding: 0.4rem 0;
}
.items-header span{
    color: var(--textColor);
}